page-jogar {

}
#pergunta{
    font-family: cursive;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    font-family: verdana;
    text-align: center;
    
}
#geral{
    background-color:white;
    width: 100%;
    height: 100%;
    margin-top:0em;
    margin-left: 0em;
    margin-right: 0em;
    left:0em;
    right: 0em;
    position: absolute
}
#cab{
    margin-top:0em;
    top:0em;
    position: absolute;
    right:0em;
    left:0em;
    margin-left: 0em;
    margin-right: 0em;
    width: 100%;
    height:85px;
    background-color:rgba(0, 0, 0, 0.685);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em
}
#a, #b, #c, #d{
    width: 270px;
    height: 60px;
    font-size: 26px;
    border-radius: 2em;
    border: solid 1px #000;

}
#voltar{
    background-color:rgb(32, 23, 23);
    border-radius: 2em;
    top:90%;
    position: absolute;
    color:red;
    width: 50px;
}
#avancar{
    background-color:rgb(19, 20, 19);
    border-radius: 2em;
    top:90%;
    right:10px;
    position: absolute;
    color:green;
    width: 50px
}
#t{
    text-align: center;
    top:170px;
    margin-top:50px;
    position: absolute;
    right:700px;
}
#a{
    background-color: green;
    color: wheat
}
#b{
    background-color: rgb(24, 214, 228);
    color: wheat
}
#msg{
    top:100px;
    position: absolute;
    right:25px;
    font-size: 17px
}
#c{
    background-color: yellow;
    color: wheat
}
#voldemort{
    top:230px;
    position: absolute;
    right:330px
}
#balao{
    top:50px;
    position: absolute;
    right:150px
}
img{
    max-height: 300px;
    max-width: 300px;
}
#d{
    background-color: red;
    color: wheat
}
