page-creditos {

}
#credit{
    text-align: center;
    background-color: rgb(223, 37, 192);
    width: 480px;
    height:600px;
    margin-left: 430px;
    border-bottom-left-radius: 5em;
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;

}
#josi{
    top:130px;
    font-size:25px;
    position: absolute;
    left:530px;
    
}