page-menu {

}
h2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    top:0em;;
    margin-top:1px
}
#cab{
    background-color: rgba(4, 4, 12, 0.918);
    color: white;
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;
    top:0em;
    position: absolute;
    width: 100%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
    height: 60px;
}

#menu{
    text-align: center;
    background-color:rgba(13, 19, 14, 0.521);
    width: 480px;
    height:600px;
    margin-left: 430px;
    border-bottom-left-radius: 5em;
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em
}
#bb{
    margin-top:300px;
    position:absolute;
    text-align: center;
    box-align: center
}

#prod{
    top:90px;
    font-size:20px;
    position: absolute;
    left:575px;
    font-style: inherit
}


#tudo{
    background-image: url('../../assets/imagens/fundo.png');
    width: 100%;
    height: 100%;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    right:0px;
    left:0px;
    position: absolute;
    top:0px
}

#botoes{
    max-width: 300px;
    max-height: 300px;
    margin-top:50px
}
#harry{
    background-image: url('../../assets/imagens/harry.png')
}
button{
    font-size: 18px;
    font-family: cursive;
    font-style: italic;
    border: 1 px solid black;
}
#jogar{
    background-color: rgb(139, 226, 9);
    color:whitesmoke;
    border-radius: 5em;
    width: 200px;
    height: 50px;
}
#config{
    background-color: rgb(26, 199, 230);
    color: whitesmoke;
    border-radius: 5em;
    width: 200px;
    height: 50px;
}
#creditos {
    background-color: rgb(230, 26, 87);
    color: whitesmoke;
    border-radius: 5em;
    width: 200px;
    height: 50px;

}